In [1]:
import pandas as pd

leads = pd.read_excel("Lead_ledger_sample.xlsx")
leads.head()

,Client / Campaign,Brand Industry,Source,Type,Name,Email,Phone,Zip,First Name,Last Name,...,campaign_name,form_name,Platform,CampaignID,AccountID,AccountName,Lead Reply,Reviewed?,CKD,Follow up
0,Woof Gang Bakery,Food & Beverage,Email,Lead,Daniel Bonoff,bonoffd@yahoo.com,646-275-4605,NaN,Daniel,Bonoff,...,Woof Gang Bakery_FNQ_SS_WBB-B|ITF|OLT_ND23_RAN...,melissa@woofgangcorp.com,Autoklose,551,113,919 Marketing,"Melissa,Thank you for your note.I would be int...",Woof Gang Bakery_Lead_bonoffd@yahoo.com,SB,No
1,Franchise Doug Stout,Broker,Email,Appointment,Cara Bray,cara.bray08@icloud.com,513-550-1934,NaN,Cara,Bray,...,NaN,NaN,Autoklose,284,101,Franchise Doug,Have you explored Franchise Ownership in the p...,Franchise Doug Stout_Appointment_cara.bray08@i...,SB,No
2,Franchise Kathryn Hetzendorfer,Broker,Email,Lead,Sameh Elrefaei,selrefaei@gmail.com,408-577-4690,NaN,Sameh,Elrefaei,...,Franchise Kathryn Hetzendorfer_QQFN_A_WBB-B2|Q...,kathryn@kathrynconsults.com,AutoKlose,433,250,Franchise Kathryn Hetzendorfer,"Hi Kathryn, I just found your messages in my s...",Franchise Kathryn Hetzendorfer_Lead_selrefaei@...,SB,Yes
3,Franchise Marilyn Imparato,Broker,Email,Lead,Lucas Kowalsky,lucas.kowalsky@siemens.com,NaN,NaN,Lucas,Kowalsky,...,Franchise Marilyn_FNQ_NDR1|CAL_ABL-C1|ITF-F-C3...,marilyn@mimparatoadvisorco.com,Autoklose,279,102,Franchise Marilyn,"Hello Marilyn, thank you for your message! I w...",Franchise Marilyn Imparato_Lead_lucas.kowalsky...,SB,Yes
4,Assisting Hands,Senior Care,Email,Lead,Chuck Travali,charles.travali@cox.net,860-729-6815,NaN,Chuck,Travali,...,Assisting Hands_RC_SS_ABL|DST|OLT_AD23_RANDOM_...,jeremy@assistinghandsinc.com,Autoklose,617,354,Assisting Hands,"Hey Jeremy,I am so sorry, but I have been so b...",Assisting Hands_Lead_charles.travali@cox.net,SB,Yes

In [2]:
# Let's create a copy containing only our columns of focus

leads_copy = leads[['Company','Title','Location','State']]

In [3]:
# Let's quicky check the dataframe

leads_copy

,Company,Title,Location,State
0,Goode Partners,Partner At Goode Partners,"New York, New York, United States",New York
1,Banks County High School,English Teacher/ELA Department Chair,"Commerce, Georgia, U.S.A",Georgia
2,Flex,"Senior Director, Commercial Strategy Americas",San Francisco Bay Area,California
3,Siemens Corporation,Global Delivery Consultant,"Orlando, Florida, United States",Florida
4,Town of Enfield,Chef,"Enfield, Connecticut, United States",Connecticut
...,...,...,...,...
56,Saacmatchin,Associate Founder,San Francisco Bay Area,California
57,U.S. Department of Justice,Senior Counsel For Rule Of Law,"Washington, District of Columbia, United States",Washington D.C.
58,Facebook,Transportation Manager,"Menlo Park, California, U.S.A",California
59,JUICEPLUS � NSA,Wellness Educator,"Tinley Park, Illinois, United States",Illinois
60,synergy laboratories,Vice President Sales,"Daphne, Alabama, United States",Alabama

In [4]:
# Calculating the count of leads by State

pd.crosstab(index=leads_copy['State'], columns='Num_Of_Companies', 
            values=leads_copy['Company'], aggfunc='count').sort_values(by='Num_Of_Companies', ascending=False)

col_0            Num_Of_Companies
State
California                     13
New York                        7
Illinois                        4
Florida                         3
Michigan                        3
Oklahoma                        2
Colorado                        2
Connecticut                     2
Georgia                         2
Washington D.C.                 2
Tennessee                       2
Maryland                        2
Virginia                        2
New Jersey                      2
Texas                           1
Alabama                         1
Utah                            1
Washington                      1
Nevada                          1
Pennsylvania                    1
North Carolina                  1
Arizona                         1
Minnesota                       1
Kentucky                        1
Iowa                            1
Wisconsin                       1

In [5]:
# Calculate the count of leads by Location

pd.crosstab(index=leads_copy['Location'], columns='Num_Of_Companies', 
            values=leads_copy['Company'], aggfunc='count').sort_values(by='Num_Of_Companies', ascending=False)

col_0                                               Num_Of_Companies
Location
San Francisco Bay Area                                             3
Greater New York City Area                                         3
Los Angeles Metropolitan Area                                      2
New York, New York, United States                                  2
Los Angeles, California, United States                             2
Tinley Park, Illinois, United States                               1
Tampa/St. Petersburg, Florida Area                                 1
Louisville, Kentucky, United States                                1
Menlo Park, California, U.S.A                                      1
Milwaukee, Wisconsin, U.S.A                                        1
Mt. Laurel, New Jersey, United States                              1
New York City Metropolitan Area                                    1
Washington D.C. Metro Area                                         1
Norman, Oklahoma, United States                                    1
Tulsa, Oklahoma Area                                               1
Orlando, Florida, United States                                    1
Phoenix, Arizona Area                                              1
Rochester, New York, United States                                 1
San Bruno, California, United States                               1
Troy, Michigan, U.S.A                                              1
Santa Clara, California, U.S.A                                     1
Sarasota, Florida, United States                                   1
Senior Regional Leader at Amazon Logistics Amaz...                 1
Silver Spring, Maryland, United States                             1
Simsbury, Connecticut, United States                               1
Susanville, California, United States                              1
Apex, North Carolina, United States                                1
London, England Metropolitan Area                                  1
Auburn, Washington, United States                                  1
Laurel, Maryland, United States                                    1
Chicago, Illinois, United States                                   1
Colorado, United States                                            1
Commerce, Georgia, U.S.A                                           1
Dallas-Fort Worth Metroplex                                        1
Daphne, Alabama, United States                                     1
Detroit, Michigan, United States                                   1
Dubuque, Iowa, United States                                       1
Enfield, Connecticut, United States                                1
Evanston, Illinois, U.S.A                                          1
Fairfax County, Virginia, United States                            1
Grayson, Georgia, United States                                    1
Greater Chicago Area                                               1
Greater Denver Area                                                1
Greater Detroit Area                                               1
Greater Memphis Area                                               1
Greater Minneapolis-St. Paul Area                                  1
Greater Salt Lake City Area                                        1
Greater San Diego Area                                             1
Greenbrae                                                          1
Herndon, Virginia, U.S.A                                           1
Holladay, Tennessee, United States                                 1
Jersey City, New Jersey, United States                             1
Las Vegas, Nevada, United States                                   1
Washington, District of Columbia, United States                    1

In [6]:
# Calculating the count of leads by State

pd.crosstab(index=leads_copy['Title'], columns='Num_Of_Companies', 
            values=leads_copy['Company'], aggfunc='count').sort_values(by='Num_Of_Companies', ascending=False)

col_0                                               Num_Of_Companies
Title
Owner                                                              3
President                                                          2
Account Manager                                                    1
President, Co-Founder                                              1
Product Manager                                                    1
Project Manager                                                    1
Radiologist                                                        1
Sales Executive                                                    1
Secretary                                                          1
Senior Account Manager                                             1
Senior Associate                                                   1
Senior Counsel For Rule Of Law                                     1
Senior Director Business Development                               1
Senior Director, Commercial Strategy Americas                      1
Senior Jury Consultant                                             1
Senior Mortgage Consultant                                         1
Senior Sales Director Global Accounts                              1
Sr. Provider Network Manager                                       1
Technical Product Support Manager                                  1
Technical Support Analyst                                          1
Tooling Manager                                                    1
Transportation Manager                                             1
Vice President                                                     1
Vice President Sales                                               1
Vice President of Client Operations                                1
Vice President, Professional Services                              1
Vice President-Regional Manager                                    1
Vp, Digital Platforms, Dtc And Ott And Corporat...                 1
Wellness Educator                                                  1
Principal Information Systems Engineer                             1
President | Master Makeup Artist, Educator & Co...                 1
Area Manager                                                       1
Director of Sales                                                  1
Associate Founder                                                  1
Certified Notary Signing Agent                                     1
Chef                                                               1
Chief Counterintelligence Expert and Technical ...                 1
Chief Engineer                                                     1
Counselor                                                          1
Creative Director And Designer                                     1
Customer Service Associate And Dispatcher                          1
Department Head Of Business And Accounting And ...                 1
Director Of Security                                               1
Director Of System Integration And Test                            1
Education Specialist                                               1
President ? Business Growth & Development ? Ret...                 1
English Teacher/ELA Department Chair                               1
Founder/President                                                  1
Global Delivery Consultant                                         1
Manager Sales & Service Operations                                 1
Managing Director                                                  1
Manufacturing Engineer                                             1
Marine Officer                                                     1
Marketing Manager                                                  1
Network Support Specialist                                         1
Partner At Goode Partners                                          1
Portfolio Manager                                                  1
director of marketing and product development                      1

### Insights

**Clearly, as per the small sample of data that we have;** 

  * California, New York, Illinois are the hot zone segments that overindex.
  * Within these states San Francisco Bay Area, Greater New York City Area, Los Angeles Metropolitan Area, etc. are zoomed-in hot zone segments.
  * Owner and President Titles are better leads.
  
**Please note that the above insights could change once we have the complete data**